In [40]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold, RFE
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

## Instructions

**Instructions**

- fit the models LinearRegressor,Lasso,Ridge and (optional KNeighborsRegressor ) and compare the model performances. ✅
- (Optional) Define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code. ✅
- Use feature selection techniques(P-Value, RFE) to select subset of features to train the model with(if necessary). ✅
- (optional) refit the models with the selected features. ✅

## Data Preprocessing & Transformation

### Extract / load data

In [59]:
def load_original_data():
    df = pd.read_csv(r"C:\Users\p.kollhof\Documents\IRONHACK_GitHub\IH_RH_DA_FT_AUG_2022\Class_Materials\Case_Studies\Customer_Analysis_Case_Study\Data\Data_Marketing_Customer_Analysis_Round3.csv")        
    return df

df_original = load_original_data()

### Preprocessing / transforming data

#### `Split` numerical and categorical `data`

In [42]:
def get_numerical(df):
    df_numerical = df.select_dtypes(exclude=['object'])
    # Drop number of open complaints as this is technically categorical data
    return df_numerical

def get_categorical(df):
    df_categorical = df.select_dtypes(include=['object'])
    return df_categorical

df_numerical = get_numerical(df_original)
df_categorical = get_categorical(df_original)

#### `Numerical` data `processing`

In [43]:
# Drop "number_of_open_complaints", because it's technically categorical data
df_numerical.drop("number_of_open_complaints", axis=1, inplace=True)

"""
- not checking for outliers in customer_lifetime_value, because also extreme cases are reasonable
- 'number_of_policies'
"""
df_num_cols_selected = ['income', 'monthly_premium_auto', 'months_since_last_claim', 
                        'months_since_policy_inception']

# Get rid of outliers if there are any
def remove_outliers(df,columns,n_std):
    """
    function for removing outliers from given df;
    select in which column outliers are to be removed;
    specify "outlier condition" by supplying number of standard deviations;
    """
    for col in columns:
        mean = df[col].mean()
        std = df[col].std()
        
        df = df[(df[col] <= mean+(n_std*std))]
        #df.reset_index(drop=True, inplace=True)
        
    return df

df_numerical_nofliers = remove_outliers(df_numerical, df_num_cols_selected, 3)

#### `Categorical` data `processing`

In [44]:
def transform_categorical(df):
    # Drop effective to date column
    df_categorical.drop("effective_to_date", axis=1, inplace=True) 
    
    df = load_original_data()
    # Insert number of open complaints as this is technically categorical data
    df_categorical.insert(len(df_categorical.columns)-1, "number_of_open_complaints", df["number_of_open_complaints"])
    
    # Convert policy to numbers for ordinal
    policy_dict = {"personal l1": 1, "personal l2": 2, "personal l3": 3,
                    'corporate l1': 4, 'corporate l2': 5, 'corporate l3': 6,
                    'special l1': 7, 'special l2': 8, 'special l3': 9}
    #policies = [policy_dict[policy] for policy in df_categorical["policy"]]
    ## Group policies
    policies = ["personal" if pol in ("personal l1", "personal l2", "personal l3")
               else "corporate" if pol in ("corporate l1", "corporate l2", "corporate l3")
               else "special" for pol in df_categorical["policy"]]
    df_categorical["policy"] = policies
    
    # Convert education  to numbers for ordinal
    education_dict = {'high school or below': 0,
                      'bachelor': 1,
                      'master': 2,
                      'college': 2,
                      'doctor': 3}
    educations = [education_dict[edu] for edu in df_categorical["education"]]
    df_categorical["education"] = educations
    
    # Convert coverage to numbers for ordinal
    df_categorical["coverage"] = [1 if x == "basic"
                                 else 2 if x == "extended"
                                 else 3
                                 for x in df_categorical["coverage"]]
    
    # Convert months to numbers for ordinal
    #months_dict = {"jan": 0,
              #"feb": 1}
    #df_categorical["month"] = [months_dict[mon] for mon in df_categorical["month"]]
    
    # Group luxury cars together
    df_categorical["vehicle_class"] = ["luxury" if car in ("luxury car", "luxury suv")
                                      else car
                                      for car in df_categorical["vehicle_class"]]
    
    return df_categorical

df_categorical = transform_categorical(df_categorical)

#### `Split categorical` into nominal and ordinal

In [45]:
df_categorical_ordinal = df_categorical[["education", "policy", "number_of_open_complaints", "coverage"]]
df_categorical_nominal = df_categorical.drop(columns=["education", "policy", "number_of_open_complaints", "coverage"])

### One Hot/Label Encoding of the categorical variables

In [48]:
df_categorical_hotcoded = pd.get_dummies(df_categorical, drop_first=True) # 43 columns
# df_categorical_hotcoded_ = pd.get_dummies(df_categorical, drop_first=False) # 58 columns

df_categorical_ordinal_hotcoded = pd.get_dummies(df_categorical_ordinal, drop_first=True)
df_categorical_nominal_hotcoded = pd.get_dummies(df_categorical_nominal, drop_first=True)

df_categorical_combined = pd.concat((df_categorical_ordinal_hotcoded,df_categorical_nominal_hotcoded), axis=1)

### Combine numerical and encoded categoricals

In [58]:
df_numerical_categorical = pd.concat((df_categorical_hotcoded, df_numerical), axis=1)
df_numerical_nofliers_categorical = pd.merge(df_categorical_hotcoded, df_numerical_nofliers, left_index=True, right_index=True)

df = df_numerical_categorical
df

,coverage,education,number_of_open_complaints,region_east,region_north west,region_west region,response_yes,month_jan,employment_status_employed,employment_status_medical leave,...,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_policies,total_claim_amount
0,1,2,0,0,0,0,0,0,1,0,...,0,1,0,4809,48029,61,7,52,9,292
1,1,2,0,0,0,1,0,1,0,0,...,0,1,0,2228,92260,64,3,26,1,744
2,1,1,0,1,0,0,0,0,1,0,...,0,1,0,14947,22139,100,34,31,2,480
3,2,2,0,0,1,0,1,1,1,0,...,0,1,0,22332,49078,97,10,3,2,484
4,3,1,0,0,1,0,0,1,0,1,...,0,1,0,9025,23675,117,33,31,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,3,1,0,0,0,0,0,1,0,0,...,0,1,0,15563,61541,253,12,40,7,1214
10685,1,2,0,0,1,0,0,1,1,0,...,0,1,0,5259,61146,65,7,68,6,273
10686,2,1,0,0,0,0,0,0,1,0,...,0,1,0,23893,39837,201,11,63,2,381
10687,3,2,4,0,0,1,0,0,1,0,...,0,1,0,11971,64195,158,0,27,6,618
10688,1,1,0,0,0,0,0,1,0,0,...,0,1,0,6857,68942,101,31,1,3,1021

## Linear Regression Modeling

In [65]:
def test_train_split(test_size = 0.3, randomstate = 42):

    X = df.drop('total_claim_amount', axis=1)
    y = df["total_claim_amount"]

    X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=test_size,random_state=42)
    
    return X_train, X_test, y_train, y_test

### Linear Regressor

In [51]:
model=LinearRegression()
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {round(model.score(X_train, y_train),4)}, Test -> {round(model.score(X_test, y_test),4)}")

LinearRegression: Train -> 0.7652, Test -> 0.7826

### Lasso

In [52]:
model=Lasso(alpha=0.05)
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {round(model.score(X_train, y_train),4)}, Test -> {round(model.score(X_test, y_test),4)}")

Lasso: Train -> 0.7652, Test -> 0.7827

### Ridge

In [57]:
model=Ridge(alpha=10)
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {round(model.score(X_train, y_train),4)}, Test -> {round(model.score(X_test, y_test),4)}")

Ridge: Train -> 0.7651, Test -> 0.7827

### Run all models in function

In [89]:
def run_linear_lass_ridge_regressions(rfe = False):

    X_train, X_test, y_train, y_test = test_train_split()
    
    model_list = (LinearRegression(), Lasso(alpha=0.05), Ridge(alpha=10))

    for model in model_list:
        if rfe:
            selector = RFE(model, n_features_to_select = 20, step = 1, verbose = 1) # Step is how many features to add or drop everytime
            selector.fit(X_train, y_train)

            kept_features = selector.get_support(indices = True) #returns an array of integers corresponding to nonremoved features
            kept_features = list(X_train.iloc[:,kept_features].columns)

            X_train = selector.transform(X_train)
            X_test  = selector.transform(X_test)

            X_train = pd.DataFrame(X_train, columns=kept_features)
            X_test  = pd.DataFrame(X_test, columns=kept_features)

            #print("Final selected features: ")
        model.fit(X_train, y_train)
        print()
        print(f"{model.__class__.__name__}: Train -> {round(model.score(X_train, y_train),4)}, Test -> {round(model.score(X_test, y_test),4)}")

## Feature Selection Techniques (P-Value, RFE)

In [90]:
run_linear_lass_ridge_regressions(True)

Fitting estimator with 39 features.
Fitting estimator with 38 features.
Fitting estimator with 37 features.
Fitting estimator with 36 features.
Fitting estimator with 35 features.
Fitting estimator with 34 features.
Fitting estimator with 33 features.
Fitting estimator with 32 features.
Fitting estimator with 31 features.
Fitting estimator with 30 features.
Fitting estimator with 29 features.
Fitting estimator with 28 features.
Fitting estimator with 27 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.

LinearRegression: Train -> 0.7647, Test -> 0.7826

Lasso: Train -> 0.7647, Test -> 0.7827

Ridge: Train -> 0.7646, Test -> 0.7826